<h1>José Andrés</h1>
<p>José Ramón Andrés Puerta,  born 13 July 1969, is a Spanish chef, and founder of World Central Kitchen (WCK), a non-profit devoted to providing meals in the wake of natural disasters.[2] A Spanish-born and raised cook, he is often credited with bringing the small plates dining concept to America.[3] He owns restaurants in Washington, D.C., Los Angeles, Las Vegas, Miami Beach, Orlando, Chicago, and New York City.

    He was awarded a 2015 National Humanities Medal at a 2016 White House ceremony for his work with World Central Kitchen.[4] In addition, he has received honorary doctorates from Georgetown University, George Washington University, Harvard University, and Tufts University.
    
    </p>