<p>Coming to America
    At the age of 21, Andrés arrived in New York City with $50 (equivalent to $104 in 2021), to cook in midtown Manhattan at an outpost of a popular Spanish restaurant, Eldorado Petit. During his time in New York, he also staged servings at The Quilted Giraffe.[7]
    
    In 1993, he was hired to lead the kitchen at Jaleo, a new tapas restaurant in Washington, D.C. In subsequent years, he helped the owners of Jaleo to open more restaurants: Cafe Atlantico, Zaytinya and Oyamel, along with two more Jaleo outposts.[10]
    
    In 2003, Andrés started minibar – a restaurant space within a larger restaurant – at a six-seat counter within Cafe Atlantico. minibar is devoted to serving the most creative Andrés plates, and reservations would fill up a month in advance.[10][7]
    
    Celebrity chef and restaurateur
    As his restaurants in America enjoyed success, Andrés became more famous in his native Spain, starring in his own cooking show, Vamos a Cocinar, which debuted in 2005.[5] He also published his first book, Tapas: A Taste of Spain in America, in 2005.[10]
    
    In 2006, he partnered with Robert Wilder to form ThinkFoodGroup, making Andrés a co-owner in his restaurants.[10] Together, they opened more restaurants in Miami, Los Angeles, Las Vegas, and Puerto Rico.[8]
    
    
    Jose Andrés in 2012
    Beginning in the fall of 2010, Andrés taught a culinary physics course at Harvard University with Ferran Adrià.[11] In May 2012, Andrés was named dean of Spanish Studies at The International Culinary Center, where he and Colman Andrews developed a curriculum in traditional and modern Spanish cuisine, which debuted in February 2013.[12] On October 29th, 2012, he announced he was heading back to the classroom, and would teach his first course on how food shapes civilization at George Washington University.[13]
    
    Trump Hotel restaurant and lawsuit
    Andrés planned to open a restaurant in the Trump International Hotel in Washington, DC, in 2016. After Donald Trump made disparaging comments about undocumented Mexican immigrants in June 2015, Andrés withdrew from the contract with the Trump Organization, which then sued him.[14] Andrés counter-sued, and the parties reached a settlement in April 2017.[15] Andrés remains an outspoken critic of Trump.[16][17]</p>